body {
    margin: 0;
}
.main {
    width: 100vw;
    height: 50vh;
    background-color: rgb(70, 158, 136);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blocks {
    display: flex;
    justify-content: space-around;
}
.block-red, .block-blue, .block-green {
    width: 100px;
    height: 100px;
}
.block-red {
    background-color: red;
}
.block-blue {
    background-color: blue;
}
.block-green {
    background-color: green;
}

.items {
    display: flex;
    justify-content: space-between;
}
.item-red, .item-blue, .item-purple, .item-black {
    width: 100px;
    height: 100px;
}
.item-red {
    background-color: red;
}
.item-blue {
    background-color: blue;
}
.item-green {
    width: 250px;
    height: 100px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.new-red, .new-blue, .new-green {
    width: 200px;
    height: 25px;
}
.new-red {
    background-color: red;
}
.new-blue {
    background-color: blue;
}
.new-green {
    background-color: rgb(1, 17, 1);
}
.item-purple {
    background-color: purple;
}
.item-black {
    background-color: black;
}
div.newblock {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newblock-item {
    width: 250px;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newblock-green, .newblock-red, .newblock-blue {
    width: 20px;
    height: 20px;
    margin: 0 3px;
}
.newblock-green {
    background-color: green;
}
.newblock-red {
    background-color: red;
}
.newblock-blue {
    background-color: blue;
}